.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#header-nav{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

#showcase{
  grid-column: 1/3;
  grid-row: 2;
}

#columns{
  grid-column: 1/3;
  grid-row: 3;
}
.column-1{

}
.column-2{

}
.column-3{

}
#trainings{
  grid-column: 1/3;
  grid-row: 4;
}

#icon-rows{
  grid-column: 1/3;
  grid-row: 5;
}
#testimonials{
  grid-column:1/3;
  grid-rows: 6;
}
#gallery{
  grid-column: 1/3;
  grid-row: 7;
}
footer{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 8
}
