/* Core Styles */
body{
  margin: 0;
  font-family: Arial,  Helvetica, sans-serif;
  color:#fff;
  font-size:1.1em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
h1, h2, h3{
  letter-spacing: 5px;
  margin: 0;
  padding: 1em 0;
}
p{
  margin: 0;
  padding: 1em 0;
}

/* Header Nav */
#header-nav{
  background-color: #07A6EF;
 padding: 10px;
}
header h1 {
  padding: 4px;
}
nav a{
  color: #fff;
  text-decoration: none;
  padding: 15px 5px;
}
nav a:hover{
  color: #ccc;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li{
display: inline-block;
}

/* Header Showcase */
#showcase {
  background-color: #fff;
  color: #000;
  min-height: 450px;
}
#showcase  h2{
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 1em;
}
#showcase .content-wrap, #section-a .content-wrap{
 padding: 0 1.5em;
}
.accent{
  color: #07A6EF;
  font-size: 2em;
}
.profile-img{
  margin: auto;
}
  
.btn{
  display: inline-block;
  background: #fff;
  color: #70C5EC;
  text-decoration: none;
  text-transform: none;
  padding: 1em 2em;
  border: 2px solid #70C5EC;
  margin: 1em .1em;
}
.btn:hover {
  background: #70C5EC;
  color: #fff;
}
.socia-link{
  display: inline-block;
}
.social{
  padding-bottom: 20px;
}
#showcase .content-title-s{
  grid-area: content-title;
}
#showcase .accent{
  grid-area: accent;
}
.profile-img{
  grid-area: profile-img;
}
.lead-text{
  grid-area: lead-text;
}
.btn{
  grid-area: btn;
}
.social{
  grid-area: social;
}
#showcase .content-wrap{
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 
  "content-title"
  "profile-img"
  "lead-text"
  "btn"
  "social";
}

/* Section A */
#section-a{
  background: #07A6EF;
  color: #fff;
  padding: 2em 1em;
}
#section-a ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.underline{
  text-decoration: underline;
  padding-top: 15px;
}

.box-1{
  grid-area: box-1;
}
.box-2{
  grid-area: box-2;
}
.box-3{
  grid-area: box-3;
}
.content-wrap-a, .content-wrap-d{
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "box-1"
    "box-2"
    "box-3";
}
#section-b {
  background: #464646;
  padding: 2em 1em 1em;
}
#section-b .content-title{
  color: #fff;
}
#section-b .accent{
  font-size: .7em;
}
#section-b .accent2{
  color: #07A6EF;
}
#section-b .box{
  background: #fff;
  color: #000;
  padding-bottom: 40px;
}
#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#section-b li {
  margin-bottom: 1em;
}
#section-b{
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
  "training"
  "teaching";
}
/* Section C */
#section-c{
  background: #fff;
  color: #000;
  padding: 2em 1em;
}
#section-c .content-title{
  color: #07A6EF;
}
#section-c ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Section D */
#section-d{
  background-color: #07A6EF;
  padding: 2em 1em;
}
 #section-d .box{
  background: #fff;
  border: 3px solid #033C4F;
  color: #000;
}
.box-1{
  grid-area: box-1;
}
.box-2{
  grid-area: box-2;
}
.box-3{
  grid-area: box-3;
}
#main-footer{
  text-transform: none;
}
/*************************************/
/* Gallery Page */ 
main{
  min-width: 0;
}
.gallery {
 display: grid;
 grid-gap: 10px;
 grid-template-columns: 1fr 1fr;
}
img{
  max-width: 80%;
}
#main-footer{
  background:#333;
  padding: 2em;
}

/*****************************************/
/*About Page*/ 
#about-main{
  background-color: #fff;
  padding: 0 10%;
  min-height: calc(85vh - 70px);
}
.main-content-title{
  color: #07A6EF;
}
#about-main p{
  color: #000;
  margin: 0;
  padding-top: 5px;
}
#main-footer{
  height:50px;
}
/************************************/
/*Do not edit above code*/

/* Media Queries */

/* */

@media (min-width: 700px){
  #showcase .content-wrap{
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
     "profile-img content-title"
     "profile-img lead-text"
     "profile-img btn"
     "profile-img social";
  }
  .content-wrap{
    margin: 30px;
  }
  #section-b{
    grid-template-columns: 2fr 2fr;
    grid-template-areas:  
    "training training"
    "teaching teaching";
  }
  #section-b ul{
    padding-top: 60px;
    font-size: 20px;
  }
  #section-c li{
  display: inline-flex;
  }
  /*About page*/
  #about-main{
   padding: 0 20%;
   text-transform: none;
  }
  .content-wrap-a, .content-wrap-d{
   grid-template-columns: 2fr 2fr;
   grid-template-areas: 
   "box-1 box-2"
   "box-3 box-3";
  }
}
/*media queries full screen*/
/*header & nav*/
@media (min-width: 768px){
  #header-nav{
    padding: 1%;
  }
  #header-nav h1{
    top: -1%;
    position: absolute;
  }
  nav{
    position: relative;
    text-align: right;
  }
}
@media (min-width: 1024px){
  #header-nav h1{
    top: -.5%;
  }
  .content-wrap-a, .content-wrap-d{
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: 
    "box-1 box-2 box-3";
   }
   #showcase .content-wrap{
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
     "profile-img content-title content-title"
     "profile-img lead-text lead-text"
     "profile-img social btn";
  }
 
  .profile-img{
    padding: 10px;
    border-style: solid;
    border-width: 3px;
  }
  .content-title-s{
    margin-top: 10px;
    border-bottom: 3px solid black;
  }
  .lead-text{
    font-size: 20px;
  }
  .lead-text, .btn{
    padding: auto;
    margin: auto;
  }
  .social{
    margin:auto;
    padding-bottom: 0px;
  }
  #section-b .teaching{
    padding-bottom: 0px;
  }
}
/**/