body{
  font-family: ;
  font-size:;
  line-height:1.5;
  font: 15px/1.5 Ariel, Helvetica, sans-serif;
}
/*Global*/
.container{
  width: 89%;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}
/*Header & Nav*/
header{
  background: #07A6EF;
  border: 1px solid #979797;
  border-bottom: 5px dashed #000 ;
  color: #FFFFFF;
  text-transform: uppercase;
}

header h1{
  float: left;
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
  font-family: Arial-BoldMT;
  font-size: 35px;
  color: #FFFFFF;
  letter-spacing: 8.75px;
  text-align: center;
}
header nav{
  float: right;
  padding-top:10px;
}
nav a{
  padding: 15px 10px;
  text-decoration: none;
}
header li{
  display: inline-block;
  padding: 0 20px;
  font-family: Arial-BoldMT;
  font-size: 20px;
}
